# === Java/Maven ===
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear
*.log

# === Docker/System ===
.docker/
.env
.env.local
*.tar

# === Mobile/IDE ===
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
bin/

# === Node/React ===
node_modules/
dist/
build/
.eslintcache
npm-debug.log*
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
yarn-debug.log*
yarn-error.log*


# === OS Files ===
.DS_Store
Thumbs.db
